# Игнорируем всю скрытую папку Visual Studio целиком со всем кэшем
.vs/

# Игнорируем новые файлы конфигурации решений VS 2022 / VS 2025
*.slnx
*.slnx.sqlite

# Локальные пользовательские настройки окон, сборки и отладки
*.user
*.suo

# Скомпилированные файлы, бинарники и папки сборки проекта
[Bb]in/
[Oo]bj/